{% extends "baseGeneric.html" %}

{% block title %}Изменить объект{% endblock %}

{% block content %}
<h2 class = "content-title">Изменить место</h2>
<form action = {% url 'editPlace' placePk = place.pk %} method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
  {% if field.name != 'owner' %}
  <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
  </div>
  {% endif %}
  {% endfor %}
  <button type = "submit" value = "OK">Добавить</button>
</form>
{% endblock %}
