{% extends "baseGeneric.html" %}

{% block title %}Изменить продукт{% endblock %}

{% block content %}
<h2 class = "content-title">Изменить продукт</h2>
<form action = {% url 'editProduct' productPk=product.pk %} method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
  {% if field.name != 'creator' %}
  <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
  </div>
  {% endif %}
  {% endfor %}
  <button type = "submit" value = "OK">Добавить</button>
</form>
{% endblock %}
