{% extends "base-generic.html" %}

{% block titile %}{% if direction %}{{direction.title}}{% else %}Направления нет в базе{% endif %}{% endblock %}

{% block content %}
<section class = "content-section" id = "direction-detail">
{% if direction %}
<h2 class = "section-title">{{direction.name}}</h2>
<section class = "content-block">
  <h3 class = "block-title">Описание:</h3>
  <p class = "big-text">{{direction.description}}</p>
</section>
<section class = "section-block"> 
  <h2 class = "section-title">Информация об образовательном направлении</h2>
  <p><b>Факультет: </b>{{direction.faculty.name}}</p>
  <p><b>Цена: </b>{{direction.price}} руб</p>
  <p><b>Бюджетных мест: </b>{{direction.budgets}}</p>
  <p><b>Платных мест: </b>{{direction.payed}}</p>
  <p><b>Срок обучения: </b>{{direction.budgets}} года</p>
  <p><b>Наличие очной формы обучения: </b>{{direction.ofline}}</p>
  <p><b>Наличие заочной формы обучения: </b>{{direction.online}}</p>
  <p><b>Руководитель: </b>{{direction.curator}}</p>
  <p><b>Квалификация: </b>{{direction.qualification.name}}</p> 
</section>
</section>
{% endif %}
<form href = "{{request.url}}" method = "post">
    {% csrf_token %}
    <table>
      {{form}}
    </table>
    <input type="submit" value="Записать заметку">
</form>
{% endblock %}
